<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICurrencyConversionService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceConsole/Service/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICurrencyConversionService"
                contract="ServiceReference1.ICurrencyConversionService" name="WSHttpBinding_ICurrencyConversionService">
                <identity>
                    <userPrincipalName value="kloetzer@fa-b.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>